<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    /* 
      重置样式表：专门用来对浏览器的样式进行重置的
        reset.css 直接去除了浏览器的默认样式
        normalize.css 多默认样式进行了统一
      
      默认样式：
        通常情况，浏览器都会为元素设置一些默认样式（为方便html结构显示）
        默认样式的存在会影响到页面的布局
          通常情况下，编写网页时必须要去除浏览器的默认样式（pc端居多）
    */
  </style>
</head>
<body>
  
</body>
</html>