.rightnav{
  position: fixed;
  width: 26px;
  background-color: white;
  border: 1px #F5F5F5 solid;
  right: 50%;
  margin-right: -630px;
  bottom: 40px;
  z-index: 999;
}
.rightnav div{
  height: 40px;
  text-align: center;
  border-bottom:1px #F5F5F5 solid;
}
.rightnav div a{
  display: block;
  line-height: 40px;
  color: #9A9A9A;
}
.rightnav a:hover{
  color: #FF6A00;
}
.rightnav div .iconfont{
  font-size: 23px;
}